.navbar {
    background-color: #f5dcc6;
}

.nav-name {
    text-indent: 10px;
    color: #666161;
    font-weight: bold;
    font-size: 30px;
}

.navList {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    text-indent: 50px;
    margin-top: 4px;
}