h3 {
    padding-top: 30px;
}

#githubicon {
    margin-left: 6px;
}

#linkedinicon {
    margin-left: 12px;
    color: #353535;
}

a {
    color: black;
}

a:hover {
    color: grey;
    text-decoration: none;
}

.contact-links {
    padding-top: 15px;
    padding-bottom: 3px;
}

.form-control {
    border: black solid 1px;
    color: black;
}
